
.header-back {
  position: relative;
  background-color: rgba(0,0,0,0);
  &::before {
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    z-index: -1;
    content: '';
    height: 1.2rem;
    border-radius: 0 0 50% 50%;
    background-color: #4575c9;
  }
}
.content-renewal {
  padding: .15rem 0;
  .header-back;
}
.rectangle-card {
  margin: .1rem;
  padding: 0 .15rem;
  border-radius: .1rem;
  background-color: #fff;
  box-shadow: 0 0 .12rem 0 rgba(0,0,0,0.07);
  overflow: hidden;
}
.module-title {
  margin: .1rem 0;
}
.trace-grid {
  display: flex;
  margin-bottom: .2rem;
  .trace-grid-item {
    flex: 1;
    text-align: center;
    &:first-child {
      flex: 1.8;
      text-align: left;
      box-shadow: .005rem 0 0 0 #0000000f;
    }
  }
}