
// 无滚动条
.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
.border-module {
  padding: .1rem;
  background-color: #fff;
  box-shadow: 0 0 .12rem 0 rgba(0,0,0,.07);
  border-radius: .1rem;
}

.rectangular-module {
  padding: .1rem;
}

.module-title {
  .font-bold(@font-size-lg, @color-black);
  &::before {
    display: inline-block;
    margin-right: 4px;
    .size(4px, .15rem);
    content: '';
    background-color: @primary-color;
    border-radius: 2px;
    vertical-align: middle;
  }
}