@import './variable.less';
@import './mixin.less';
// 无滚动条
.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

// 标题 前面带宽竖线
.module-title {
  .font-bold(@font-size-lg, @color-black);
  &::before {
    display: inline-block;
    margin-right: 5px;
    .size(4px, .15rem);
    content: '';
    background-color: @primary-color;
    border-radius: 2px;
    vertical-align: middle;
  }
}

// 矩形带圆角
.rectangle-card {
  margin: .1rem;
  padding: .15rem;
  border-radius: .1rem;
  background-color: #fff;
  box-shadow: 0 0 .12rem 0 rgba(0,0,0,0.07);
  overflow: hidden;
}

@header-back-color: #4575c9;
// 背景顶部的蓝色
.header-back {
  position: relative;
  background-color: rgba(0,0,0,0);
  &::before {
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    z-index: -1;
    content: '';
    height: 1.2rem;
    border-radius: 0 0 50% 50%;
    background-color: @header-back-color;
  }
}
